.my-exp strong {
  font-weight: 600;
}
.my-exp h1 strong,
.my-exp h1 {
  @apply font-bold text-[18px] md:text-[26px];
}
.my-exp h2 strong,
.my-exp h2 {
  @apply font-bold text-[17px] md:text-[23px];
}
.my-exp h3 strong,
.my-exp h3 {
  @apply font-bold text-[16px] md:text-[22px];
}
.my-exp h4 strong,
.my-exp h4 {
  @apply font-bold text-[16px] md:text-[21px];
}
.my-exp h5 strong,
.my-exp h5 {
  @apply font-bold text-[16px] md:text-[20px];
}
.my-exp h6 strong,
.my-exp h6 {
  @apply font-bold text-[16px] md:text-[19px];
}

.my-exp p {
  @apply text-slate-700 text-sm md:text-base;
}

.my-exp ul {
  @apply list-disc space-y-[15px] md:space-y-[8px] pl-6 text-slate-700;
}
.my-exp ol {
  @apply list-decimal space-y-[15px] md:space-y-[8px] pl-6 text-slate-700;
}
.my-exp ul li {
  @apply marker:text-primary marker:text-xl;
}
.my-exp ol li {
  @apply marker:text-primary marker:text-xl;
}

.my-exp img {
  @apply m-3 rounded-md md:rounded-lg;
}
/* .my-exp a{
        @apply link-hover link-primary
    } */

.my-exp ins,
u {
  background: linear-gradient(to right, #fc4a1a, #f7b733);
  -webkit-background-clip: text;
  /* For webkit-based browsers (Safari, Chrome) */
  background-clip: text;
  color: transparent;
  text-decoration: none;
}

.my-exp .marker {
  background-color: #f7b733;
  color: black;
}
