@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
  z-index: -1;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  background: #081229;
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("../../public/assets/img/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

/* Hide the scrollbar for webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 0.5em; /* Adjust the width as needed */
  background-color: transparent; /* Set the background color to match the container */
  display: none;
}

/* Hide the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Hide the scrollbar track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Utsho pro pic */
.utshoProPic {
	position: relative;
}
.utshoProPic::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.utshoProPic:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

/* my-title */
.my-title{
  @apply font-bold text-2xl lg:text-4xl
}

.my-subtitle{
  @apply font-semibold text-lg md:text-2xl
}

/* common color  */
.my-clr-one{
  color: #E84545;
}

/* my inp */
.my-inp{
  @apply block w-full p-3 bg-[#081229] text-slate-200 placeholder:text-slate-600 shadow-inner shadow-slate-800 border-none rounded focus:outline-none
}

/* My btn */
.my-btn-one{
  @apply relative inline-flex items-center justify-start gap-2 px-5 py-2 overflow-hidden font-bold border-2 border-slate-50 rounded-xl z-50 text-slate-50 bg-[#081229]
}
.my-btn-one::before{
  content: '';
 @apply absolute top-0 left-0 w-48 h-56 -mt-1 transition-all duration-500 ease-in-out rotate-45 -translate-x-64 -translate-y-24 bg-white opacity-100 -z-10
}
.my-btn-one:hover{
  @apply text-[#081229]
}
.my-btn-one:hover::before{
  @apply translate-x-0 
}